@tailwind base;
@tailwind components;
@tailwind utilities;

/* הסתרת פס גלילה אופקי ואנכי עבור אלמנטים עם scrollbar-hide */
.scrollbar-hide {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}
.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Chrome/Safari/Webkit */
}

body {
  font-family: 'Inter', sans-serif;
  color: #23272f;
}

/* כל הטקסטים יהיו אפור עמוק, חוץ מ-Layout.jsx שמגדיר text-white */
